.btn__index {
    background-color: $color-secundario;
    color: $color-letra;
    transition: 1s;

    &:hover {
        scale: 1.2;

        background-color: $color-secundario;
        color: $color-hover;
    }
}

.boton{
    background-color: $color-secundario;
    color: $color-letra;
    &:hover{
        background-color: black;
        color: $color-hover;
    }
}
