.tarjeta {
    min-width: 370px;
    transition: 1s;
}

.plan {
    background-color: #f5dee0;
    color: black;
}

@media (min-width:900px) {
    .plan {
        transition: 1s;

        &:hover {
            background-color: #f35b65;
            transform: translateX(30px);
            transition: 1s;
        }
    }
}

@media (max-width:900px) {
    .plan {
        scale: 1;
        transition: 1s;

        &:hover {
            background-color: #f35b65;
            transition: 1s;
        }
    }
}

.telefono {
    scale: 0.8;
    transition: 1s;

    &:hover {
        transform: translateY(-30px);
        transition: 1s;
    }
}