* {
    list-style: none;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", "Roboto", sans-serif;
}

body {
    background-image: linear-gradient(to right bottom, #FFE9F3, #F49097, #FF3864, #450920);
}

header {
    background-image: black;
}

.logo {
    overflow: hidden;
}


a {
    text-decoration: none;
    color: black;
}

