* {
    list-style: none;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", "Roboto", sans-serif;
}

body {
    background-image: linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7);
}

header {
    background-image: black;
}

.logo {
    overflow: hidden;
}


a {
    text-decoration: none;
}