* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", "Roboto", sans-serif;
}

body {
    background-color: #f79aa1;
}

.footbase {
    background-color: #F49097;
}

header {
    background-image: black;
    background-color: #F49097;
}

.logo {
    overflow: hidden;
}

h2,
h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    &:hover{
        color: white;
    }
}